@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500;700&display=swap');

* {
    font-family: 'Vazirmatn', sans-serif;
}

h1,
h2 {
    font-weight: 700;
    margin-bottom: 0;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 0;
}